{% extends 'DsgagenciaBundle::layout.html.twig' %}

{% block title %}
    Trabajos en la categoría {{ categoria.nombre }} categoria
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- CSS carousel-->
    <link rel="stylesheet" href="{{ asset('bundles/dsgagencia/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
        <!-- Three columns of text below the carousel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ categoria.nombre }}</h2>
            </div>
             <!--Incluimos la plantilla de listar trabajos-->
            {{ include ('DsgagenciaBundle:Trabajos:listar.html.twig', {'trabajos': categoria.trabajosactivos}) }}
            
            {% if last_page > 1 %}
                <div class="container">
                   <ul class="pagination">
                        <li><a href={{ path('dsgagencia_categoria', { 'slug': categoria.slug, 'page': 1 }) }}>|&laquo;</a></li>
                        <li><a href={{ path('dsgagencia_categoria', { 'slug': categoria.slug, 'page': previous_page }) }}>&laquo;</a></li>
                        
                        {% for page in 1..last_page %}
                            {% if page == current_page %}
                               <li class="active"><a href="#">{{ page }}</a></li>
                            {% else %}
                                <li><a href={{ path('dsgagencia_categoria', { 'slug': categoria.slug, 'page': page }) }}>{{ page }}</a><li>
                            {% endif %}
                        {% endfor %}
                        <li><a href={{ path('dsgagencia_categoria', { 'slug': categoria.slug, 'page': next_page }) }}>&raquo;</a></li>
                        <li><a href={{ path('dsgagencia_categoria', { 'slug': categoria.slug, 'page': last_page }) }}>&raquo;|</li>
                    </ul>
                </div>
            {% endif %}
 
            <div class="pagination_desc">
                <strong>{{ total_trabajos }}</strong> jobs in this categoria
         
                {% if last_page > 1 %}
                    - page <strong>{{ current_page }}/{{ last_page }}</strong>
                {% endif %}
            </div>
        </div>
{% endblock %}