{% extends 'DsgagenciaBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for entity in entities %}
            <div class="col-lg-4">
                {% if entity.logo %}
                <a href="{{ entity.url }}">
                    <img width="30%" max-height="10px" src="{{ asset('public/upload/') }}{{ entity.logo }}"
                     alt="{{ entity.compania }} logo" />
                </a>
                {% endif %}
                <h2>{{ entity.posicion }}</h2>
                <h3>{{ entity.compania}}</h3>
                <p>{{ entity.localidad }}</p>
                <p><a class="btn btn-default" href="{{ path('trabajos_show', { 'id': entity.id,'compania': entity.companiaSlug,'localidad': entity.localidadSlug,'posicion': entity.posicionSlug}) }}" role="button">Ver más</a></p>
            </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div>
{% endblock %}