{% extends 'DsgagenciaBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- CSS carousel-->
    <link rel="stylesheet" href="{{ asset('public/css/carousel.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('public/css/trabajos.css') }}" type="text/css" media="all" />
{% endblock %}
{% block body %}
    {{ parent() }}
    {{ include('DsgagenciaBundle::/Trabajos/carousel.html.twig') }}
{% endblock %}
   {% block content %}
        <!-- Three columns of text below the carousel -->
        <div class="panel panel-default">
        {% for categoria in categorias %}
                <div class="panel-heading">
                    <h2 class="panel-title"><a href={{ path('dsgagencia_categoria', { 'slug': categoria.slug }) }}>{{ categoria.nombre }}</a></h2>
                </div>
                
                <!--Incluimos la plantilla de listar trabajos-->
                {{ include ('DsgagenciaBundle::listar.html.twig', {'trabajos': categoria.trabajosactivos}) }}
                
                {% if categoria.masTrabajos %}
                    <div class="mas center-block">
                    <a class="btn btn-primary" href="{{ path('dsgagencia_categoria', { 'slug': categoria.slug}) }}" role="button">{{categoria.masTrabajos }} ofertas más...</a>
                    </div>
                {% endif %}
                <div class="clearfix"></div>
                <br/>
        {% endfor %}
        </div>
    {% endblock %}
