{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Trabajos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Compania</th>
                <th>Logo</th>
                <th>Url</th>
                <th>Posicion</th>
                <th>Localidad</th>
                <th>Descripcion</th>
                <th>How_to_apply</th>
                <th>Token</th>
                <th>Publico</th>
                <th>Activado</th>
                <th>Email</th>
                <th>Finaliza</th>
                <th>Creado</th>
                <th>Actualizado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('trabajos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.compania }}</td>
                <td>{{ entity.logo }}</td>
                <td>{{ entity.url }}</td>
                <td>{{ entity.posicion }}</td>
                <td>{{ entity.localidad }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.howtoapply }}</td>
                <td>{{ entity.token }}</td>
                <td>{{ entity.publico }}</td>
                <td>{{ entity.activado }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.finaliza %}{{ entity.finaliza|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.creado %}{{ entity.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.actualizado %}{{ entity.actualizado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('trabajos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('trabajos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('trabajos_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
