<div class="row">
  {% for entity in trabajos %}
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="{{ asset('public/upload/') }}{{ entity.logo }}" alt="{{ entity.compania }} logo" />
          <div class="caption">
            <h3>{{ entity.compania}}</h3>
            <p>{{ entity.posicion }} - {{ entity.localidad }}</p>
            <p>
                <a href="{{ path('trabajos_show', { 'id': entity.id,'compania': entity.companiaSlug,'localidad': entity.localidadSlug,'posicion': entity.posicionSlug}) }}" class="btn btn-primary" role="button">Leer más</a> 
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
</div>