 <!-- Fixed navbar -->
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="{{ path('dsgagencia_index') }}">DSG Agencia Colocación</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav ">
								<li><a class="btn btn-primary" href="{{ path('dsgagencia_index') }}">Inicio</a></li>
								<li><a class="btn btn-primary" href="{{ path('trabajos_new')}}" role="button">Nueva Oferta</a><li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
        						<li><a class="btn btn-primary" href="{{ path('afiliados_new')}}" role="button">Registro</a><li>
      						</ul>
							<div class="buscador">
								<form action={{ path('trabajos_buscar') }} method="get" class="navbar-form navbar-right" role="search">
							    	<div class="form-group">
							        	<input type="text" name="query" value="{{ app.request.get('query') }}" id="buscador" class="form-control" placeholder="Buscar" required>
							        	<!--<input type="submit" value="search" />-->
            							<img id="loader" src={{ asset('public/image/loader.gif') }} style="vertical-align: middle; display: none" />
            						</div>
            						<input type="submit" value="Buscar" class="btn btn-default"></button>
								</form>
							</div
						    </form>
					    	</div>
						</div><!--/.nav-collapse -->
					</div>
				</nav>