{% extends 'DsgagenciaBundle::layout.html.twig' %}
 
{% set form_themes = _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
 
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/csspaginas/show.css') }}" type="text/css" media="all" />
{% endblock %}
 
{% block formulario %}
    {{ parent() }}
    <div class="container editshow">
        <div class="row well">
            <div class="col-xs-4">
                <div class="page-header">
                    <h2>Nuevo Usuario</h2>
                </div>
                    
                <form action={{ path('afiliados_create') }} method="post" {{ form_enctype(form) }}>
                    <div class="form-group">
                        {{ form_label(form.url) }}
                        {{ form_widget(form.url, {'attr' : {'class' : 'form-control', 'placeholder' : 'Url'}}) }}
                        <span class="text-danger">{{ form_errors(form.url) }}</span>
                    </div>    
                    
                    <div class="form-group">    
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr' : {'class' : 'form-control', 'placeholder' : 'Email'}}) }}
                        <span class="text-danger">{{ form_errors(form.email) }}</span>
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.categoria)}}
                        {{ form_widget(form.categoria, {'attr' : {'class' : 'form-control', 'placeholder' : 'Categoria'}}) }}
                        <span class="text-danger">{{ form_errors(form.categoria)}}</span>
                    </div>
                    <p>
                        <input type="submit" value="Submit" />
                        <!--<button type="submit" value="Submit" class="btn btn-info">Aceptar</button>-->
                    </p>
                {{ form_end(form) }}
            
            </div>
        </div>
    </div>
{% endblock %}
                    